@rubine-red: rgb(215,10,80);
@container-width: 725px;
@container-background-color: rgb(209,209,209);
@border-radius: 3px;
@header-font-family: 'Questrial', sans-serif;
@content-font-family: 'Arial';

body {
  background-color: @container-background-color;
  font-family: @content-font-family;
}

.container-fixed {
  margin: 0 auto;
  max-width: @container-width;
}

img.header {
    width: @container-width;
}

.trm-menu {
   background-color: white;
   border-radius: @border-radius;
   padding-left: 30px;
   padding-right: 30px;
   padding-bottom: 15px;

   h3 {
    font-size: 20px;
   }
}

.trm-menu-block-part-hover {
  background-color: hsla(0, 100%, 100%, 0.0);
  opacity: .2;
}

.trm-menu-block-part {
    color: @rubine-red;
    font-family: @header-font-family;
    text-transform: uppercase;
    height: 100px;
    padding-left: 20px;
    padding-right: 5px;
    padding-bottom: 10px;
    text-align: right;

    border-top-style: solid;
    border-bottom-style: solid;
    border-color: @rubine-red;
    margin-top: 30px;
    margin-left: 5px;
    margin-right: 5px;
}

.slick-prev:before, .slick-next:before {
    color: grey;
    // font-size: 50px;
}

.slick-next, .slick-prev {
    top: 55%;
}

.slick-prev {
    //left: -10px;
}

// .slick-next:before {
//   content: "▶︎"
// }
//
// .slick-prev:before {
//   content: "◀︎"
// }

.trm-menu-block:focus {
  outline: 0px;
}

.trm-submenu {
    color: @container-background-color;
    font-family: @header-font-family;
    border-radius: @border-radius;
    background-color: white;
    margin-top: 5px;
    padding-left: 5px;
    padding-top: 5px;
    font-size: 24px;
}


.trm-content {
    margin-top: 20px;
    margin-bottom: 20px;
    .active {
        color: @rubine-red;
        border-bottom-style: solid;
        border-bottom-width: 3px;
        border-bottom-color: @rubine-red
    }


    .text {
        margin-top: 10px;
        .abstract {
            color: @rubine-red;
            font-weight: bold;
        }
        .start {
            margin-top: 10px;
            font-family: @header-font-family;
            font-size: 24px;
        }
        img {
            margin: 5px;
        }
        ul {
            padding-left: 5px;
            font-weight: bold
        }
    }

    .bottom > .row:first-child .trm-submenu{
        border-top-style: solid;
        border-top-width: 3px;
        border-top-color: @rubine-red
    }
}
